<h1>Student Details </h1>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Student Name</th>
      <th>Student Mobile No</th>
    </tr>
  </thead>
</table>
  <tbody>
    <tr>
      <td><%= @student.id %></td>
      <td><%= @student.stu_name %></td>
      <td><%= @student.stu_mob_no %></td>
    </tr>
  </tbody>
  
